.detail {
    .ant-breadcrumb {
        font-size: 0.8rem;
        padding-bottom: 0.2rem;
        border-bottom: 1px solid #e8e8e8;
    }

    .navbar {
        margin-top: 30px;
        .title {
            font-size: 1.1rem;
            font-weight: 600;
            text-align: center;
        }
        .post_nav {
            .title-anchor {
                color: #777;
                font-size: 0.8rem;
            }
            .active {
                color: #1890ff;
            }
        }
    }
    .post {
        .post_title {
            font-size: 1.6rem;
            text-align: center;
            padding: 1rem;
        }
    }
    .comment {
        .title {
            font-size: 1.1rem;
            font-weight: 600;
            text-align: center;
            border-bottom: 1px solid #e8e8e8;
        }
    }
}
