.detail .ant-breadcrumb {
  font-size: 0.8rem;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid #e8e8e8;
}
.detail .navbar {
  margin-top: 30px;
}
.detail .navbar .title {
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
}
.detail .post .post_title {
  font-size: 1.6rem;
  text-align: center;
  padding: 1rem;
}
.detail .post .content {
  padding: 1.3rem;
  font-size: 1rem;
  color: #555454;
  overflow-x: hidden;
}
.detail .post .content code {
  font-size: 0.87rem;
}
.detail .post .content .hljs {
  border-radius: 0.2rem;
}
.detail .post .content h1 {
  font-size: 1.6rem;
}
.detail .post .content h2 {
  font-size: 1.4rem;
}
.detail .post .content h3 {
  font-size: 1.2rem;
}
.detail .comment .title {
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  border: 1px solid #e8e8e8;
  border-left: 0px;
  border-right: 0px;
}
