@import 'normalize.css';
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
:root {
  --bgc-body: #f6f6f6;
  --bgc: #fff;
  --text-color: rgba(0, 0, 0, 0.85);
  --post_list-item-desc-color: #777;
  --post_list-small-color: #aaa;
  --global_footer-color: #4e6e8e;
  --introduce-text-color: #4e6e8e;
  --detail-content-color: #555454;
}
body {
  background-color: var(--bgc-body) !important;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
html::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 8px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
html::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #535353;
}
html::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #ededed;
}
.comm_main {
  margin-top: 0.5rem;
}
.comm_main .comm_right {
  background-color: var(--bgc);
  padding: 0.3rem;
  border-radius: 0.3rem;
  border-bottom: 1px solid #eee;
}
.comm_main .comm_left {
  background-color: var(--bgc);
  margin-left: 0.5rem;
  padding: 0.3rem;
  border-radius: 0.3rem;
  border-bottom: 1px solid #eee;
}
.posts_list .list_title {
  text-align: center;
  color: var(--text-color);
}
.posts_list .post_item {
  margin-bottom: 10px;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}
.posts_list .post_item .item_title {
  font-size: 1.3rem;
  color: #1e90ff;
  padding: 0 0.5rem;
}
.posts_list .post_item .item_title .jin {
  visibility: hidden;
}
.posts_list .post_item .item_title:hover a {
  text-decoration: underline;
}
.posts_list .post_item .item_title:hover .jin {
  visibility: visible;
}
.posts_list .post_item .item_desc {
  color: var(--post_list-item-desc-color);
  padding: 0.5rem;
}
.posts_list .post_item .small {
  color: var(--post_list-small-color) !important;
  font-size: 0.8rem;
}
.posts_list .post_item .bottom {
  display: flex;
}
.posts_list .post_item .bottom .read-count {
  margin-left: 10px;
}
.posts_list .post_item .item_icon {
  padding: 0.5rem 0;
  cursor: pointer;
}
.posts_list .post_item .item_icon span {
  display: inline-block;
  padding: 0 10px;
}
.posts_list .post_item .ant-tag {
  cursor: pointer;
}
.posts_list .post_item > div {
  padding: 0.2rem 0;
}
.posts_list .post_item:last-of-type {
  margin-bottom: 0px;
}
.global_footer {
  text-align: center;
  color: var(--global_footer-color);
  font-size: 0.8rem;
  padding: 10px 0;
}
.introduce {
  padding-top: 20px;
  text-align: center;
}
.introduce .item {
  margin-bottom: 20px;
}
.introduce .item .title {
  font-size: 1.2rem;
  color: var(--text-color);
}
.introduce .item .text {
  color: var(--introduce-text-color);
  font-size: 0.8rem;
}
.introduce .item:last-of-type {
  margin-bottom: 0px;
}
.anchor_nav .ant-anchor-link-title {
  font-size: 0.8rem;
  color: var(--text-color);
}
.anchor_nav .ant-anchor-link-title-active {
  color: #1890ff;
}
.anchor_nav .ant-anchor-wrapper::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 8px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
.anchor_nav .ant-anchor-wrapper::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #535353;
}
.anchor_nav .ant-anchor-wrapper::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #ededed;
}
.ant-anchor-wrapper {
  background-color: var(--bgc) !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: var(--text-color) !important;
  font-weight: 500;
}
